<header>
  <div class="grid title">
    <h1>
      <a href="{{ site.baseurl }}/">PKUWWT</a>
    </h1>
	<h2>消遣时光</h2>
  </div>
  <div class="grid">
    <nav class="main-nav">
      {% assign category = page.categories | join: ' ' | split: ' ' | last %}
      <ul>
        <li class="{% if category == 'linux' %}current{% endif %}">
        <a href="{{ site.baseurl }}/linux">Linux</a>
        </li>
        <li class="{% if category == 'scholarship' %}current{% endif %}">
        <a href="{{ site.baseurl }}/scholarship">Scholarship</a>
        </li>
        <li class="{% if category == 'programming' %}current{% endif %}">
        <a href="{{ site.baseurl }}/programming">Programming</a>
        </li>
        <li class="{% if category == 'blog' %}current{% endif %}">
        <a href="{{ site.baseurl }}/blog">blog</a>
        </li>
        <li class="{% if category == 'math' %}current{% endif %}">
        <a href="{{ site.baseurl }}/math">Mathematics</a>
        </li>
        <li class="{% if category == 'about' %}current{% endif %}">
        <a href="{{ site.baseurl }}/about">About Me</a>
        </li>
      </ul>
    </nav>
  </div>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
		  tex2jax: {
			inlineMath: [['$','$'], ['\\(','\\)']],
			processEscapes: true
		  },
		  TeX: {extensions: ["color.js"]}
});
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

{% if page.used3 %}
<script src="../../js/d3.v3.min.js" charset="utf-8">
</script>
{% endif %}
</header>
