<header>
	<div class="flexbox">
		<div class="hide-on-mobiles">
			<h1 class="grid title" style="font-family:cursive">
				<a href="{{ site.baseurl }}/">PKUWWT</a>
			</h1>
		</div>

		{% assign category = page.categories | join: ' ' | split: ' ' | last %}

		<nav class="mobile-nav show-on-mobiles">
			<ul>
				<li class="{% if category == 'techniques' %}current{% endif %}">
					<a href="{{ site.baseurl }}/techniques">Techniques</a>
				</li>
				<li class="{% if category == 'programming' %}current{% endif %}">
					<a href="{{ site.baseurl }}/programming">Programming</a>
				</li>
				<li class="{% if category == 'math' %}current{% endif %}">
					<a href="{{ site.baseurl }}/math">Mathematics</a>
				</li>
			</ul>
		</nav>

		<nav class="main-nav hide-on-mobiles">
			<ul>
				<li class="{% if category == 'techniques' %}current{% endif %}">
					<a href="{{ site.baseurl }}/techniques">Techniques</a>
				</li>
				<li class="{% if category == 'programming' %}current{% endif %}">
					<a href="{{ site.baseurl }}/programming">Programming</a>
				</li>
				<li class="{% if category == 'math' %}current{% endif %}">
					<a href="{{ site.baseurl }}/math">Mathematics</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="grid title">
	</div>
	<div class="grid">
	</div>

	{% if page.math %}
	{% include mathtex.html %}
	{% endif %}

	{% if page.d3 %}
	<script src="../../js/d3.v3.min.js" charset="utf-8">
	</script>
	{% endif %}
</header>
