	<div>
		<div class="search">

			<form novalidate="novalidate" onsubmit="return false;" class="searchbox">
				<div role="search" class="searchbox__wrapper">
					<span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;">
						<input id="docsearch" type="search" name="search" placeholder="Search the docs" autocomplete="off" required="required" class="searchbox__input ds-input" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-label="search input" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
						<pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: sans-serif; font-size: 15.75px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
						<span class="ds-dropdown-menu" role="listbox" id="algolia-autocomplete-listbox-0" style="position: absolute; top: 100%; z-index: 100; left: 0px; right: auto; display: none;">
							<div class="ds-dataset-1"></div>
						</span>
					</span>
					<button type="submit" title="Submit your search query." class="searchbox__submit" style="top:5px">
						<svg width="12" height="12" role="img" aria-label="Search">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sbx-icon-search-13"></use>
						</svg>
					</button>
					<button id="clear_search_button" type="reset" title="Clear the search query." class="searchbox__reset hide" style="top:12px">
						<svg width="12" height="12" role="img" aria-label="Reset">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sbx-icon-clear-3"></use>
						</svg>
					</button>
				</div>
			</form>

			<div class="svg-icons" style="height: 0; width: 0; position: absolute; visibility: hidden">
				<svg xmlns="http://www.w3.org/2000/svg">
					<symbol id="sbx-icon-clear-3" viewBox="0 0 40 40"><path d="M16.228 20L1.886 5.657 0 3.772 3.772 0l1.885 1.886L20 16.228 34.343 1.886 36.228 0 40 3.772l-1.886 1.885L23.772 20l14.342 14.343L40 36.228 36.228 40l-1.885-1.886L20 23.772 5.657 38.114 3.772 40 0 36.228l1.886-1.885L16.228 20z" fill-rule="evenodd"></path></symbol>
					<symbol id="sbx-icon-search-13" viewBox="0 0 40 40"><path d="M26.806 29.012a16.312 16.312 0 0 1-10.427 3.746C7.332 32.758 0 25.425 0 16.378 0 7.334 7.333 0 16.38 0c9.045 0 16.378 7.333 16.378 16.38 0 3.96-1.406 7.593-3.746 10.426L39.547 37.34c.607.608.61 1.59-.004 2.203a1.56 1.56 0 0 1-2.202.004L26.807 29.012zm-10.427.627c7.322 0 13.26-5.938 13.26-13.26 0-7.324-5.938-13.26-13.26-13.26-7.324 0-13.26 5.936-13.26 13.26 0 7.322 5.936 13.26 13.26 13.26z" fill-rule="evenodd"></path></symbol>
				</svg>
			</div>

		</div>
	</div>

</br>
<div id="search-result">
</div>

{% include cache.html %}

<script>
	const getScriptParent = () => {
		return document.scripts[document.scripts.length - 1].parentNode;
	};
	// Where el is the DOM element you'd like to test for visibility
	function isHidden(el) {
		var style = window.getComputedStyle(el);
		return (style.display === 'none')
	}
	const root = getScriptParent();
	const isRootHidden = isHidden(root);
	const clearButton = root.querySelector('#clear_search_button');
	const input = root.querySelector('#docsearch');
	const updateSearchResults = keyword => {
		if (!window.posts) {
			return;
		}
		const container = root.querySelector('#search-result');
		const addPost = post => {
			const div = document.createElement('div');
			const a = document.createElement('a');
			a.innerText = post.title;
			a.href = post.url;
			div.appendChild(a);
			container.appendChild(div);
		};
		const clearPosts = () => {
			container.innerHTML = '';
			// for (let c of container.childNodes) {
			// 	container.removeChild(c);
			// }
		};
		const matchPost = (post, keyword) => {
			return post.title.toLowerCase().indexOf(keyword) !== -1;
		};
		clearPosts();
		if (!keyword) {
			return;
		}
		keyword = keyword.toLowerCase();
		const filteredPosts = posts.filter(p => matchPost(p, keyword));
		filteredPosts.slice(0, 7).forEach(addPost);
	};
	if (!isRootHidden) {
		input.addEventListener('input', e => {
			clearButton.className = input.value ? 'searchbox__reset' : 'searchbox__reset hide';
			updateSearchResults(input.value);
		});
		clearButton.addEventListener('click', e => {
			input.value = '';
			updateSearchResults('');
		});
		document.addEventListener('keyup', e => {
			if (e.key === 's') {
				setTimeout(() => input.focus(), 300);
			}
		});
	}
</script>

